@{
                ViewBag.Title = "תפריט";
                Layout = "~/Views/Shared/_Layout-User.cshtml";
                TempData["Title"] = "שלום";
}
<style>

    #centerPage {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
</style>

<div id="centerPage" style="margin-top:10%;">


    <img src="~/images/logo-index-.png" />
    <p style="padding-bottom:10px;"></p>
    <p style="color:black; font-size:24pt; font-weight:400; letter-spacing:2px;">Class Relax</p>
</div>
