
@{
    ViewBag.Title = "פעילות הסתיימה";
    TempData["Title"] = "להתראות";
    Layout = "~/Views/Shared/_Layout-User.cshtml";

}


<style>
    #centerPage {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
</style>

<div id="centerPage">

    <p style="padding-top:10px;"></p>
    <p style="text-align:center; font-size:14pt;">
        להתראות בפעם הבאה

    </p>
    <br />
    <div><img src="~/images/logo-index-.png" /></div>

</div>

